.background-primary-25 {
  background-color: var(--background-primary-25) !important;
}

.background-primary-50 {
  background-color: var(--background-primary-50) !important;
}

.background-secondary {
  background-color: var(--secondary-color) !important;
}