.badge {
	width: max-content;

	display: flex;
	align-items: center;
	gap: .5rem;
	font-size: 1.25rem	;
	color: var(--primary-color-dark);
	background-color: var(--background-primary-50);
	border-radius: var(--radius-md);
	padding: .375rem .625rem .375rem .375rem;

	&__icon {
		--_i-size: 1.5rem;
	}
}