.banner-main {
	background-image: var(--banner-image);

	&__inner {
		background-image: var(--banner-inner-image);
	}

	&,
	&__inner {
		background-repeat: no-repeat;
		background-size: 120rem 36.25rem;
		background-position: center 0;
	}

	&__info {
		width: 100%;
		max-width: 38.75rem;
		min-height: 36.25rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1rem;
		padding-block: 7.5rem 4rem;
	}

	&__title {
		margin-block: 2.5rem 0;

		> span {
			display: inline-block;
			position: relative;

			.banner-main__badge {
				position: absolute;
				bottom: 100%;
				left: 0;
			}
		}
	}

	&__text {
		max-width: 26.5rem;
		font-size: 1.5rem;
		color: var(--gray-color);
		margin-block-end: .5rem;
	}

}