.banner-main {
	background-image: var(--banner-image);
	position: relative;
	z-index: 1;
	overflow: hidden;

	&--blob {
		background-image: initial;
	}

	&,
	&__decoration,
	&__inner {
		background-repeat: no-repeat;
		background-size: 120rem 36.25rem;
		background-position: center 0;
	}

	&__inner {
		background-image: var(--banner-inner-image);
		position: relative;
		z-index: 2;
	}

	&__decoration {
		width: 100%;
		height: 100%;
		background-image: var(--banner-image);
		position: absolute;
		inset: 0;
		z-index: 1;
	}

	&__info {
		width: 100%;
		max-width: 38.75rem;
		min-height: 36.25rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 1rem;
		padding-block: 7.5rem 4rem;

		&--list {
			max-width: 45.5rem;
		}

		&--v2 {
			max-width: 40rem;
			gap: 1.875rem;
		}
	}

	&__title {
		margin-block: 2.5rem 0;

		> span {
			display: inline-block;
			position: relative;

			.banner-main__badge {
				position: absolute;
				bottom: 100%;
				left: 0;
			}
		}

		&_primary {
			color: var(--light-color);
			margin-inline-end: .625rem;
			
			&::after {
				content: '';
				display: block;
				width: calc(100% + 1.75rem);
				height: calc(100% + .5rem);
				background-color: var(--background-primary);
				border-radius: var(--radius-3xl);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
		}

		&--v2 {
			margin-block-start: 0;
		}
	}

	&__text {
		max-width: 26.5rem;
		font-size: 1.5rem;
		color: var(--gray-color);
		margin-block-end: .5rem;

		&--p {
			margin-top: 0;
			margin-bottom: 0;

			&:last-of-type {
				margin-bottom: 2rem;
			}
		}

		&--v2 {
			max-width: 28rem;
			font-size: var(--fs);
			margin: 0;
		}
	}

	&__picture {
		width: 68rem;
		display: block;
		mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1077 616' fill='none'%3E%3Cpath d='M504.568 72.9253C673.041 -50.9728 865.294 8.03076 954.894 66.9221C962.882 72.1725 971.238 77.103 979.663 81.6202C1189.45 194.11 1012.69 453.521 892.001 389.263C768.906 323.722 698.732 378.266 716 453.266C734.983 535.716 653.5 578.678 617.5 588.266C565 602.248 455.979 617.902 412.475 615.401C368.972 612.899 322.008 581.88 310.638 531.349C303.722 500.614 322.849 469.474 340.817 449.495C349.833 439.47 356.53 422.753 344.276 417.132C297.097 395.488 137.076 524.087 59.5035 487.322C-52.8143 434.09 19.2959 270.69 69.3907 195.644C166.726 72.1775 325.979 76.3258 436.356 91.4362C460.566 94.7505 484.882 87.4024 504.568 72.9253Z' fill='%23EF7F1A'/%3E%3C/svg%3E");
		mask-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: calc(max(var(--container-offset) * -1, (100% - var(--content-width)) / 2) + 34rem);
		z-index: -1;

		&--v2 {
			width: 54rem;
			mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 711 485' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.1416 69.4647C-44.8585 196.965 34.0953 376.532 73.6415 423.89C195.141 569.39 324.605 403.235 442.03 423.89C774.272 482.332 767.498 20.6997 588.641 166.965C476.141 258.965 429.229 143.465 518.141 143.465C591.641 143.465 558.642 -107.535 272.142 54.4647C184.854 103.821 121.959 -75.7178 33.1416 69.4647Z' fill='%23EF7F1A'%3E%3C/path%3E%3C/svg%3E");
			top: auto;
			bottom: -5rem;
			left: calc((100% - var(--content-width)) / 2 + 42.25rem);
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&__list {
		display: grid;
		gap: 1rem;

		&-icon {
			--_i-size: 3.5rem;
			flex-shrink: 0;
		}

		&-item {
			display: flex;
			align-items: center;
			gap: 1.25rem;
		}

		&-text {
			color: var(--gray-color);
		}
	}

}