.wrapper-field {
	position: relative;

	&__title {
		font-family: var(--font-family);
		font-size: 1rem;
		margin-block-end: .625rem;
	}

	+ .wrapper-field {
		margin-block-start: .625rem;
	}
}

.input {
	--input-height: 1.875rem;
	--input-background: #d9d9d9;
	--input-border: 0;
	--input-radius: var(--radius-md);
	--input-padding-y: 0;
	--input-padding-x: 1rem;
	
	width: 100%;
	min-height: var(--input-height);
	display: block;
	background-color: var(--input-background);
	margin: 0;
	border: var(--input-border);
	border-radius: var(--input-radius);
	padding: var(--input-padding-y) var(--input-padding-x);
	outline: none;
}

textarea.input {
	--input-height: 12.5rem;
	--input-padding-y: .375rem;

	resize: none;
}

textarea.input-lg {
	--input-radius: var(--radius-xl);
	--input-padding-y: .75rem;
}

.file {
	width: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;

	&:is(:hover, :focus-visible, :active) {
		.file__btn {
			--_color: var(--light-color);
			--_background-color: var(--primary-color);
		}
	}
	
	&.is-select {
		.file__name {
			color: var(--dark-color);
		}
	}

	&__input {
		width: 1px;
		height: 1px;
		margin-top: -1px;
		opacity: 0;
		position: absolute;
		overflow: hidden;
	}

	&__name {
		flex: 1;
		color: var(--gray-color);
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
		margin-right: 9rem;
	}

	&__btn {
		--_height: 1.25rem;
		--_font-size: .75rem;
		--_color: var(--gray-color);
		--_background-color: var(--background-light);
		--_border-radius: .625rem;
		--_padding-x: 2rem;
		
		pointer-events: none;
		position: absolute;
		top: 50%;
		right: .375rem;
		transform: translateY(-50%);
	}

	&.input-light {

		.file__btn {
			--_color: var(--primary-color);
			--_background-color: #FFEBD4;
		}

		&:is(:hover, :focus-visible, :active) {
			.file__btn {
				--_color: var(--light-color);
				--_background-color: var(--primary-color);
			}
		}
	}
}

.input-lg {
	--input-height: 2.5rem;
	--input-radius: var(--radius-3xl);
}

.input-light {
	--input-background: var(--background-light);
}

.input-primary-75 {
	--input-background: var(--primary-color--75);
}

.input-title {
	font-family: var(--font-family);
	font-size: var(--fs-sm);
	margin-block-end: .5rem;
}