.list-circle {
	display: flex;
	flex-direction: column;
	gap: .825rem;

	li {
		padding-inline-start: 1.75rem;
		position: relative;
		
		&::before {
			content: '';
			width: 1.25rem;
			height: 1.25rem;
			display: block;
			background-color: var(--background-primary-50);
			border-radius: 50%;
			position: absolute;
			top: -.125rem;
			left: 0;
		}
	}
}

.list-circle-sm {

	li {

		&::before {
			width: 1rem;
			height: 1rem;
			top: -.0625rem;
		}
	}
}

.list-circle-xs {

	li {
		padding-inline-start: 1.25rem;

		&::before {
			width: .625rem;
			height: .625rem;
			top: .1875rem;
		}
	}
}

.list-circle-primary-75 {

	
	li {

		&::before {
			background-color: var(--background-primary-75);
		}
	}
}