@media (max-width: 1400px) {

	// global

	.section-new-card {

		&::after {
			top: initial;
			bottom: -5rem;
			right: initial;
			left: max(-1.25rem, calc((100% - var(--content-width)) / 2) - 4.6rem);
		}
	}

	.section-share-card {

		&::after {
			all: initial;
		}
	}

	// yandex
	.yandex-rating {
		font-size: 1.125rem;
		
		&__image {
			width: 1.5rem;
			height: 1.5rem;
		}

		.rating {
			--_stars-size: .875rem;
		}
	}

	// social
	.social__list {

		&-link {
			--_icon-size: 1.5rem;
		}
	}

	// banners
	.banner-main {

		&,
		&__inner {
			background-position: 65% 0;
		}
	}

	// brands
	.section-brands {

		&::after {
			width: 5.75rem;
			height: 5.75rem;
			background-image: url(../img/background/svg/decoration-pattern-mobile-5.svg);
			right: max(-1.75rem, calc((100% - var(--content-width)) / 2) - 2.75rem);
		}
	}

	// recommended
	.section-recommended {

		&::after {
			content: '';
			width: 9.5rem;
			height: 9.5rem;
			background-image: url(../img/background/svg/decoration-pattern-2.svg);
			transform: rotate(110deg);
			bottom: unset;
			top: 2rem;
			right: max(-4.75rem, (100% - var(--content-width)) / 2 - 6rem);
			z-index: -1;
		}
	}

	// footer
	.footer {

		&__list {

			&-header {
				font-size: 1.25rem;
				margin-block-end: 1rem;

				&-image {
					width: 1.5rem;
					height: 1.5rem;
				}
			}

			&-link {
				--_font-size: 1rem;
			}
		}
	}

	.footer-decoration {

		&::before {
			content: '';
			width: 6rem;
			height: 6rem;
			display: block;
			background-image: url(../img/background/svg/decoration-pattern-3.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			position: absolute;
			top: -20rem;
			right: max(var(--container-offset) * -1, (100% - var(--content-width)) / 2 - 2rem);
			z-index: -1;
		}
	}


}

@media (max-width: 1200px) {

	// swipers
	.swiper-card {

		.swiper {
			margin-inline: calc(var(--container-offset) * -1);
			padding-inline: var(--container-offset);
		}
	}

	// header
	.header {

		&__top {

			&-list {
				gap: .75rem;

				&-link {
					--_font-size: 1rem;
				}
			}
		}

		&__bottom {

			&-list {
				gap: 1rem;
				padding-inline-start: 1.5rem;
			}

			&-link {
				--_font-size: 1.125rem;
			}
		}

		&__search {
			padding-inline-end: 1.5rem;
		}
	}

	// advantages
	.advantages {

		&__list {
			gap: 1.25rem;

			&-image {
				width: 3rem;
				height: 3rem;
			}
		}
	}

	// about
	.about-block {
		gap: 0;

		&__start {
			gap: 1.5rem;

			&-picture {
				--image-size: 16rem;
			}
		}

		&__end {

			&::after {
				right: -.5rem;
			}

			&-image {
				margin-block-start: -4rem;
				margin-inline-start: 2rem;
			}
		}
	}

	// footer
	.footer {

		&__top {
			grid-template-columns: 15.5rem 1fr;
			gap: 7%;

			&-end {
				gap: 1rem;
			}
		}

		&__bottom {
			gap: 8%;

			&-link {
				--_font-size: .875rem;
			}
		}

		&__copy {
			font-size: .625rem;
		}

		&__callback {

			&-title {
				font-size: 1.125rem;
			}

			&-checkbox {

				.custom-checkbox__content {
					font-size: .875rem;
				}
			}
		}

		&__list {

			&:nth-child(2) {
				margin-inline-start: 1rem;
			}
		}
	}

}

@media (max-width: 992px) {

	// settings
	.d-lg-flex {
		display: flex !important;
	}

	.d-lg-none {
		display: none !important;
	}

	// global
	.section-main {
		padding-block-start: var(--header-height, 80px);
	}

	// header
	.header {
		padding-block: 1.5rem;

		&__logo {
			width: 100%;
			margin-inline: auto;
		}

		&__top {
			
			&-container {
				gap: 0;
			}

			&-list {
				flex-direction: column;
				align-items: stretch;
			}
		}

		&__bottom {
			display: none;

			&-list {
				flex-direction: column;
				align-items: stretch;
				gap: .75rem;
				margin-block-start: .75rem;
				padding: 0;
			}

			&-link {
				--_font-size: 1rem;
			}
		}

		&__search {
			--_background-color: transparent;

			--_background-color-active: transparent;
			--_icon-color-active: var(--dark-color);

			margin-inline-start: 1.25rem;
			border-inline-start: 0;
			padding: 0;
		}

		&__menu {
			width: 100%;
			max-width: 22.5rem;
			height: 100vh;
			height: 100dvh;
			
			display: flex;
			flex-direction: column;
			align-items: stretch;
			background-color: var(--background-light);
			border-radius: var(--radius-xl) 0 0 var(--radius-xl);
			padding: 1.25rem 1.5rem;
			overflow-y: auto;
			overflow-x: hidden;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 20;
			opacity: 0;
			transform: translateX(100%);
			transition: transform var(--transition-duration) var(--transition-type), opacity calc(var(--transition-duration) / 1.25) var(--transition-type);

			&.menu--active {
				opacity: 1;
				transform: initial;
			}

			&-header {
				display: flex;
				align-items: center;
				gap: .75rem;

				.burger {
					--burger-height: 1.75rem;
				}

				.logo {
					margin-inline: auto;
				}
			}

			&-nav {
				padding-block: 2rem;
			}

			&-footer {
				margin-block-start: auto;
			}
		}
	}

	.burger {
		display: flex;
		flex-shrink: 0;
	}

	// banners
	.banner-main {

		&__info {
			max-width: 50%;
		}
	}

	// advantages
	.advantages {

		&__list {
			grid-template-columns: repeat(2, 1fr);
			gap: 4rem 2rem;
		}
	}

	// catalog
	.catalog-block {

		&__list {

			&-item {
				grid-column: span 3;
				background-size: cover;

				&:last-child {
					grid-column: -1 / 1;
				}
			}
		}
	}

	// about
	.about-block {
		grid-template-columns: 1fr;
		justify-items: flex-end;
		gap: 2.5rem;

		&__start {

			&-text {

				&:last-of-type {
					margin-block-end: 0;
				}
			}
		}

		&__end {
			width: 80%;
			order: -1;

			&::after {
				width: 2.75rem;
				height: 2.75rem;
				background-image: url(../img/background/svg/decoration-pattern-mobile-1.svg);
				bottom: 0;
			}

			&-image {
				margin-inline-start: 14%;
			}
		}
	}

	// brands
	.brands {

		&__list {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	// recommended
	.recommended {

		&--desktop {
			background-image: initial;
			background-color: var(--background-light, #fff);
			margin-block-end: 1.25rem;
			padding: 0;

			&::after,
			&::before {
				all: unset;
			}

			.swiper-recommended {
				margin: initial calc(var(--container-offset) * -1);
				padding: initial var(--container-offset);

				.swiper {
					margin-inline: calc(var(--container-offset) * -1);
					padding-inline: var(--container-offset);
				}
			}

			.recommended__info {
				display: none;
			}
		}

		&--mobile {
			min-height: 20rem;
			display: block;
			padding: 1.25rem;
		}
	}

	// footer
	.footer {

		&__top {

			&-end {
				flex-wrap: wrap;
				gap: 2.5rem 1rem;
			}
		}

		&__list {
			flex: 0 0 calc(50% - .5rem);

			&:nth-child(2) {
				margin-inline-start: 0;
			}
		}
	}

}

@media (max-width: 768px) {

	// typography
	h1, h2,
	.h1, .h2 {
		font-size: 1.75rem;
	}

	// buttons
	.btn-primary {
		--_height: 1.875rem;

		--_font-size: .875rem;
		--_padding-x: .75rem;

		padding-inline-end: .375rem;

		&--icon {
			--_icon-size: 1.25rem;

			.icon {
				padding: .375rem;
			}
		}
	}

	.btn-secondary {
		--_height: 1.875rem;

		--_font-size: .875rem;
		--_padding-x: .75rem;
	}

	.btn-outline-secondary {
		--_height: 1.875rem;
    --_font-size: .875rem;
    --_padding-x: .75rem;
	}

	.btn-compare,
	.btn-favorite {
		--_icon-size: 1.125rem;
	}

	// swipers
	.swiper-main .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 0;
	}

	.swiper-button-next,
	.swiper-button-prev {
		--swiper-navigation-size: 2.25rem;
		--swiper-navigation-icon-size: .875rem;

		top: calc((var(--swiper-navigation-size) + 1.875rem) * -1);
	}

	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		right: calc(var(--swiper-navigation-size) + .625rem);
	}

	.swiper-card {

		&-header {
			padding-inline-end: 6rem;
		}
	}

	// social
	.social__list {
		gap: .375rem;

		&-link {
			--_icon-size: 1.25rem;
		}
	}

	// yandex
	.yandex-rating {
		font-size: .625rem;
		gap: .5rem;
		margin-block-start: 0;

		&__btn {
			gap: .25rem;
		}

		&__image {
			width: 1.25rem;
			height: 1.25rem;
		}

		.rating {
			--_stars-size: .625rem;
		}
	}

	// checkbox
	.custom-checkbox {
		gap: .5rem;

		&__field {
			width: .625rem;
			height: .625rem;
		}

		&__checked {
			background-size: 0.875rem 0.875rem;
		}

		&__content {
			font-size: .5rem;
		}
	}

	// fields
	.wrapper-field {

		&__title {
			font-size: .625rem;
			margin-block-end: .25rem;
		}
	}

	.input {
		--input-height: 1.25rem;
		--input-radius: .25rem;
		--input-padding-x: .5rem;

		font-size: .625rem;
	}

	// modals
	.graph-modal {
		--_modal-padding-y: 1.25rem;
		--_modal-padding-x: 1.25rem;

		&__container {
			max-width: 16.25rem;
		}

		&__close {
			--_padding-y: .375rem;
			--_padding-x: .375rem;

			--_icon-size: .5rem;

			top: .625rem;
			right: .625rem;
		}

		&__picture {
			margin-block-end: 1rem;
		}

		&__image {
			max-height: 7.5rem;
		}

		&__title {
			font-size: 1rem;
			margin-block-end: 1rem;
		}

		&__form {

			&-buttons {
				gap: .375rem;
				margin-block: .625rem 1rem;
			}

			&-btn {
				--_height: 1.5rem;
				--_font-size: .625rem;
				--_border-radius: .25rem;
			}
		}
	}

	.other-signin {

		&__list {
			grid-template-columns: 1fr;
			gap: .375rem;
			margin-block-end: .625rem;
		}

		&__btn {
			--_padding-y: .125rem;
			--_padding-x: .125rem;

			padding-inline-start: .625rem;
		}

		&__image {
			width: 1.25rem;
			height: 1.25rem;
		}
	}

	.signin-change {
		font-size: .625rem;
		gap: .125rem;
	}

	// card
	.card {

		&__action {
			
			&-start {
				gap: .375rem;
			}
		}
	}

	.card--recommended {
		--card-padding-y: 1rem;
		--card-padding-x: 1rem;

		.card__header {
			gap: .625rem;
			margin-block-end: 1rem;

			&-info {
				display: flex;
				flex-direction: column;
				gap: .25rem;
			}

			&-name {
				font-size: .875rem;
			}

			&-rating {
				order: 1;
			}

			&-whence {
				font-size: .625rem;
			}
		}

		.card__avatar {
			width: 3.125rem;
			height: 3.125rem;
		}

		.card__body {
			max-height: 5rem;
			min-height: initial;
			margin-block-end: 1rem;
		}

		.card__text {
			font-size: .75rem;
		}

		.card__buttons-button {
			--_height: 1.25rem;
			--_background-color: #F39845;
		}
	}

	// global
	.section-main {
		padding-block-start: var(--header-height, 70px);
	}

	.section-crossing {
		
		&::after {
			height: 6.4rem;
			background-size: 62.5rem 6.4rem;
			top: -2.5rem;
		}
	}

	.section-new-card {
		
		&::after {
			width: 4.5rem;
			height: 4.5rem;
			left: max(-.875rem, calc((100% - var(--content-width)) / 2) - 4.6rem);
			bottom: -3.25rem;
		}
	}

	.section {
		margin-block-end: 5rem;

		&-header {
			margin-block-end: 2.5rem;
		}
	}

	.user {

		&__list {
			gap: .625rem;

			&-link {
				--_icon-size: 1.25rem;
			}
		}
	}

	.badge {
		gap: .25rem;
		font-size: .625rem;
		padding: .25rem .625rem .25rem .25rem;

		&__icon {
			--_i-size: 1.125rem;
		}
	}

	p {

		+ p {
			margin-block-start: 1.25rem;
		}
	}

	.d-md-none {
		display: none !important;
	}

	.d-md-inline {
		display: inline !important;
	}

	.d-md-block {
		display: block !important;
	}

	.d-md-grid {
		display: grid !important;
	}

	// header
	.header {

		&__logo {
			height: 20px;
		}

		&__search {
			--_icon-size: 1.25rem;

			margin-inline-start: .875rem;
		}
	}

	// banners
	.banner-main {

		&,
		&__inner {
			background-size: 960px 290px;
			background-position: calc(70% - 22vw) 100%;
		}

		&__info {
			max-width: 400px;
			min-height: 520px;
			justify-content: flex-start;
			align-items: center;
			margin-inline: auto;
			padding-block: 4rem;
			text-align: center;
		}

		&__badge {
			align-self: flex-start;
		}

		&__title {
			margin-block: 1.5rem 1.25rem;
		}
	}

	// advantages
	.section-advantages {
		margin-block-end: 3.75rem;
	}

	.advantages {

		&__list {
			gap: 1.5rem .5rem;

			&-item {
				gap: 1rem;
			}

			&-image {
				width: 1.875rem;
				height: 1.875rem;
				margin-block-start: -.25rem;
			}

			&-title {
				font-size: 1.25rem;
				margin-block-end: .75rem;
			}

			&-text {
				font-size: .875rem;
			}
		}
	}

	// catalog
	.catalog-block {

		&__list {
			gap: 1.25rem;

			&-item {
				grid-column: -1 / 1;

				&:nth-child(-n+2) {
					grid-column: -1 / 1;
				}
			}

			&-card {
				padding: 1.25rem;
			}

			&-name {
				max-width: 120px;
				font-size: 1rem;
			}

			&-icon {
				--_i-size: 1.875rem;

				padding: .625rem;
				top: .625rem;
				right: .625rem;
			}
		}
	}

	// about
	.section-about-block {

		&::after {
			content: '';
			width: 4.25rem;
			height: 4.25rem;
			display: block;
			background-image: url(../img/background/svg/decoration-pattern-2.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			position: absolute;
			top: 16%;
			left: -1rem;
			z-index: -1;
		}
	}

	.about-block {

		&__title {
			font-size: 1.25rem;
		}

		&__start {
			gap: 2rem;

			&-picture {
				--image-size: 30vw;
			}

			&-image {
				width: 100%;
				height: 100%;
				transform: translateY(-1.5rem) rotate(-8deg);
			}

			&-text {
				font-size: .875rem;
			}
		}

		&__end {

			&::after {
				bottom: -1rem;
			}
		}
	}

	// brands
	.section-brands {

		&::after {
			top: .5rem;
		}
	}

	// recommended
	.section-recommended {

		&::after {
			content: '';
			width: 6.25rem;
			height: 6.25rem;
			top: 1rem;
			right: -2.75rem;
		}
	}

	.recommended {

		&--mobile {
			min-height: clamp(13.75rem, 30vw, 16rem);
			background-size: 55rem 14.5rem;

			&::after,
			&::before {
				width: 30vw;
				height: 30vw;
				min-width: 6.25rem;
				min-height: 6.25rem;
			}

			&::after {
				right: 2rem;
			}

			&::before {
				left: 1rem;
			}
		}

		&__info {
			max-width: 11.6rem;
		}

		&__text {
			font-size: .875rem;
		}

		&__btn {
			--_background-color: var(--primary-color-dark);
			
			--_color-active: var(--dark-color);

			width: max-content;
			margin: .875rem auto 0;
		}
	}

	// footer
	.footer {
		margin-block-start: 10rem;
		padding-block: 4rem 1.25rem;

		&__top {
			grid-template-columns: 1fr;
			gap: 1.25rem;

			&-end {
				display: grid;
				grid-template-columns: repeat(2, auto);
				grid-auto-flow: dense;
				justify-content: space-between;
				gap: 1rem;
			}
		}

		&__bottom {
			flex-direction: row-reverse;
			justify-content: space-between;

			&-link {
				--_font-size: .5rem;
			}
		}

		&__header {
			margin-block-end: 0;
		}

		&__logo {

			&-image {
				height: 1.125rem;
			}
		}

		&__copy {
			font-size: .5rem;
			margin-block-start: .5rem;
		}

		&__list {
			padding-inline-start: 1.625rem;

			&-header {
				font-size: .75rem;
				margin-block-end: .25rem;

				&-image {
					width: 1.25rem;
					height: 1.25rem;
					right: calc(100% + 0.375rem);
				}
			}

			&-link {
				--_font-size: .625rem;
				--_font-weight: 400;
			}
		}

		&__callback {

			&-title {
				font-size: .625rem;
				margin-block-end: .75rem;
			}
		
			&-checkbox {

				.custom-checkbox__content {
					font-size: .5rem;
					margin-block-start: .125rem;
				}
			}
		}

		&__field {

			&-input {
				min-height: 1.375rem;
				font-size: .625rem;
				line-height: 1;
				border-radius: var(--radius-sm) 0 0 var(--radius-sm);
				padding-inline-start: .75rem;
			}

			&-btn {
				--_border-radius: var(--radius-sm);
				--_icon-size: .5rem;
				
				width: 1.375rem;
			}
		}

		&__col {
			display: grid;
			gap: 1.5rem;
		}
	}

	.footer-wave {
    
		&::after {
			height: 3.25rem;
			background-image: url(../img/background/svg/wave-mobile--footer.svg);
			background-size: 36.5rem 3.25rem;
		}
	}

	.footer-decoration {

		&::after {
			width: 6.25rem;
			height: 6.25rem;
			top: -7.5rem;
		}

		&::before {
			top: -14rem;
			right: -1rem;
		}
	}
}

@media (max-width: 576px) {

	// global
	.section-crossing {

		&::after {
			height: 3.4375rem;
			background-image: url(../img/background/svg/wave-mobile--main.svg);
			background-size: 33.75rem 3.4375rem;
			top: auto;
			bottom: calc(100% - .125rem);
		}
	}

	// header
	.header {

		&__menu {
			max-width: 100%;
			border-radius: 0;
		}
	}

	// banners


	// advantages
	.advantages {

		&__list {
			grid-template-columns: 1fr;
		}
	}

	// catalog
	.catalog-block {

		&__list {
			grid-auto-rows: minmax(160px, auto);
		}
	}

	// brands
	.section-brands {

		&::after {
			top: calc(4.625rem - 10%);
		}
	}

	.brands {
		
		&__list {
			grid-template-columns: repeat(2, 1fr);
			gap: .625rem;

			&-item {
				border-radius: var(--radius-xxl, 1.5rem);
			}
		}
	}

	// recommended
	.recommended--mobile {
		background-image: url(../img/background/svg/blob-recommended-mobile.svg);
		background-size: calc(100% + 2rem) calc(100% + 1.25rem);
	}

}