@media (max-width: 1400px) {

	// banners
	.banner-main {

		&,
		&__inner {
			background-position: 65% 0;
		}
	}

}

@media (max-width: 1200px) {

	// header
	.header {

		&__top {

			&-list {
				gap: .75rem;

				&-link {
					--_font-size: 1rem;
				}
			}
		}

		&__bottom {

			&-list {
				gap: 1rem;
				padding-inline-start: 1.5rem;
			}

			&-link {
				--_font-size: 1.125rem;
			}
		}

		&__search {
			padding-inline-end: 1.5rem;
		}
	}

	// advantages
	.advantages {

		&__list {
			gap: 1.25rem;

			&-image {
				width: 3rem;
				height: 3rem;
			}
		}
	}

}

@media (max-width: 992px) {

	// settings
	.d-lg-flex {
		display: flex !important;
	}

	.d-lg-none {
		display: none !important;
	}

	// global
	.section-main {
		padding-block-start: var(--header-height, 80px);
	}

	// header
	.header {
		padding-block: 1.5rem;

		&__logo {
			width: 100%;
			margin-inline: auto;
		}

		&__top {
			
			&-container {
				gap: 0;
			}

			&-list {
				flex-direction: column;
				align-items: stretch;
			}
		}

		&__bottom {
			display: none;

			&-list {
				flex-direction: column;
				align-items: stretch;
				gap: .75rem;
				margin-block-start: .75rem;
				padding: 0;
			}

			&-link {
				--_font-size: 1rem;
			}
		}

		&__search {
			--_background-color: transparent;

			--_background-color-active: transparent;
			--_icon-color-active: var(--dark-color);

			margin-inline-start: 1.25rem;
			border-inline-start: 0;
			padding: 0;
		}

		&__menu {
			width: 100%;
			max-width: 22.5rem;
			height: 100vh;
			height: 100dvh;
			
			display: flex;
			flex-direction: column;
			align-items: stretch;
			background-color: var(--background-light);
			border-radius: var(--radius-xl) 0 0 var(--radius-xl);
			padding: 1.25rem 1.5rem;
			overflow-y: auto;
			overflow-x: hidden;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 20;
			opacity: 0;
			transform: translateX(100%);
			transition: transform var(--transition-duration) var(--transition-type), opacity calc(var(--transition-duration) / 1.25) var(--transition-type);

			&.menu--active {
				opacity: 1;
				transform: initial;
			}

			&-header {
				display: flex;
				align-items: center;
				gap: .75rem;

				.burger {
					--burger-height: 1.75rem;
				}

				.logo {
					margin-inline: auto;
				}
			}

			&-nav {
				padding-block: 2rem;
			}

			&-footer {
				margin-block-start: auto;
			}
		}
	}

	.burger {
		display: flex;
		flex-shrink: 0;
	}

	// banners
	.banner-main {

		&__info {
			max-width: 50%;
		}
	}

	// advantages
	.advantages {

		&__list {
			grid-template-columns: repeat(2, 1fr);
			gap: 4rem 2rem;
		}
	}

}

@media (max-width: 768px) {

	// typography
	h1, h2,
	.h1, .h2 {
		font-size: 1.75rem;
	}

	// buttons
	.btn-primary {
		--_height: 1.875rem;

		--_font-size: .875rem;
		--_padding-x: .75rem;

		padding-inline-end: .375rem;

		&--icon {
			--_icon-size: 1.25rem;

			.icon {
				padding: .375rem;
			}
		}
	}

	// swipers
	.swiper-main .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 0;
	}

	// global
	.section-main {
		padding-block-start: var(--header-height, 70px);
	}

	.section-crossing {
		
		&::after {
			height: 6.4rem;
			background-size: 62.5rem 6.4rem;
			top: -2.5rem;
		}
	}

	.user {

		&__list {
			gap: .625rem;

			&-link {
				--_icon-size: 1.25rem;
			}
		}
	}

	.badge {
		gap: .25rem;
		font-size: .625rem;
		padding: .25rem .625rem .25rem .25rem;

		&__icon {
			--_i-size: 1.125rem;
		}
	}

	// header
	.header {

		&__logo {
			height: 20px;
		}

		&__search {
			--_icon-size: 1.25rem;

			margin-inline-start: .875rem;
		}
	}

	// banners
	.banner-main {

		&,
		&__inner {
			background-size: 960px 290px;
			background-position: calc(70% - 22vw) 100%;
		}

		&__info {
			max-width: 400px;
			min-height: 520px;
			justify-content: flex-start;
			align-items: center;
			margin-inline: auto;
			text-align: center;
		}

		&__badge {
			align-self: flex-start;
		}

		&__title {
			margin-block: 1.5rem 1.25rem;
		}
	}

	// advantages
	.advantages {

		&__list {
			gap: 1.5rem .5rem;

			&-item {
				gap: 1rem;
			}

			&-image {
				width: 1.875rem;
				height: 1.875rem;
				margin-block-start: -.25rem;
			}

			&-title {
				font-size: 1.25rem;
				margin-block-end: .75rem;
			}

			&-text {
				font-size: .875rem;
			}
		}
	}

}

@media (max-width: 576px) {

	// global
	.section-crossing {

		&::after {
			height: 3.4375rem;
			background-image: url(../img/background/svg/wave-mobile--main.svg);
			background-size: 33.75rem 3.4375rem;
			top: auto;
			bottom: calc(100% - .125rem);
		}
	}

	// header
	.header {

		&__menu {
			max-width: 100%;
			border-radius: 0;
		}
	}

	// banners


	// advantages
	.advantages {

		&__list {
			grid-template-columns: 1fr;
		}
	}

}