.order {
	display: flex;
	flex-direction: column;
	gap: .625rem;
	
	&:not(:last-child) {
		margin-bottom: 1.25rem;
	}

	&__title {
		font-family: var(--font-family);
		font-size: var(--fs-lg);
		margin-bottom: .625rem;
	}

	&__client {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		font-size: var(--fs-lg);
		background-color: #FFF8F0;
		border-radius: var(--radius-xl);
		padding: 1.25rem;

		&-start {
			display: flex;
			flex-direction: column;
			gap: .25rem;
		}

		&-name,
		&-tel {
			display: block;
		}

		&-tel {
			color: var(--gray-color);
		}

		&-change {
			--_height: 1.875rem;
			--_color: var(--primary-color);
			--_background-color: #FFEBD4;
			--_border-radius: var(--radius-xl);
			--_padding-x: 2.5rem;
	
			--_color-active: var(--light-color);
			--_background-color-active: var(--primary-color);
		}
	}
}