.wrapper-swiper {
	position: relative;

	* {
		user-select: none;
	}
}

.swiper-pagination {
	--swiper-pagination-bullet-size: .625rem;
	--swiper-pagination-color: var(--primary-color);
	--swiper-pagination-bullet-inactive-color:var(--primary-color-dark);
	--swiper-pagination-bullet-horizontal-gap: .25rem;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-main .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
	--swiper-navigation-size: 2.875rem;
	--swiper-navigation-color: var(--primary-color);
	--swiper-navigation-icon-size: 1.25rem;
	
	width: var(--swiper-navigation-size);
	background-color: var(--background-light, #fff);
	margin-top: initial;
	border: 1px solid var(--primary-color);
	border-radius: 50%;
	top: calc((var(--swiper-navigation-size) + 3.75rem) * -1);
	transform: initial;
	transition: color var(--transition-duration) var(--transition-type), background var(--transition-duration) var(--transition-type);

	&::after {
		all: unset;
	}

	.icon {
		--_i-size: var(--swiper-navigation-icon-size);
	}

	&:is(:hover, :focus-visible, :active, .is-active) {
		--swiper-navigation-color: var(--light-color);
		
		background-color: var(--primary-color);
	}
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	right: calc(var(--swiper-navigation-size) + .875rem);
	left: auto;
}

.swiper-card {

	&-header {
		padding-inline-end: 7.25rem;
	}

	.card {
		max-width: 100%;
	}
}

.swiper-recommended {

	.swiper-slide {
		height: auto;
	}
}

.swiper-gallery {
	height: 35rem;
	display: grid;
	grid-template-columns:  minmax(5rem, 10.625rem) minmax(18rem, 32rem);
	grid-template-rows: 35rem;
	gap: 1.25rem;

	.swiper-button-next,
	.swiper-button-prev {
		right: 50%;
		transform: translateX(50%);

		.icon {
			transform: rotate(90deg);
		}
	}

	.swiper-button-next {
		top: auto;
		bottom: 0;
	}

	.swiper-button-prev {
		top: 0;
	}
}

.swiper-main,
.swiper-thumbs {
	width: 100%;
	height: 100%;

	&__slide {
		border: var(--border-width) var(--border-type) var(--primary-color--75);
		border-radius: var(--radius-3xl);
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
}

.swiper-main {

	&__slide {
		padding: 6.25rem 1.25rem 2rem;
	}

	&__action {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: .5rem 1.25rem;
		padding: 1.25rem;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;

		&-start,
		&-end {
			pointer-events: auto;
		}

		&-bonus {
			font-size: .875rem;
			color: var(--light-color);
			background-color: var(--background-primary);
			border-radius: var(--radius-xl);
			padding: .5rem .625rem;
		}

		&-favorite {
			--_icon-size: 1.875rem;
		}
	}

	.swiper-pagination {
		display: none;
	}
}

.swiper-thumbs {
	height: calc(100% - 8.25rem);
	margin-block: 4.125rem;

	&__slide {
		padding: .5rem;

		&.swiper-slide-thumb-active {
			border-color: var(--primary-color);
		}
	}
}

.swiper-video {
	padding-inline: 4rem;

	.swiper-button-prev,
	.swiper-button-next {
		top: 50%;
		transform: translateY(-50%);
	}

	.swiper-button-prev {
		right: auto;
		left: 0;
	}
}