$text-values: (
  start: start,
	center: center,
	end: end,
  justify: justify
);

$breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xs: 360px,
);

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin bp($name) {
  $width: map-get($breakpoints, $name);
  @include media($width) {
    @content;
  }
}

@each $class, $value in $text-values {
	.text-#{$class} {
		text-align: $value !important;
	}
}

@each $bp, $width in $breakpoints {
  @include media($width) {
		@each $class, $value in $text-values {
			.text-#{$bp}-#{$class} {
				text-align: $value !important;
			}
		}
	}
}