/* stylelint-disable */

@mixin custom-checkbox {
  display: inline-flex;
  align-items: center;
  gap: .625rem;
  cursor: pointer;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__field {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: 1px solid var(--gray-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background var(--transition-duration) var(--transition-type), border var(--transition-duration) var(--transition-type);

    &:checked {

      ~ .custom-checkbox__checked {
        opacity: 1;
      }
    }
  }

  &__checked {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='1 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 7.50098L7.5 14.501L13.5 1.00098' stroke='%23787878' /%3E%3C/svg%3E");
    background-position: center;
    background-size: 1.25rem 1.25rem;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -.25rem;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-duration) var(--transition-type);
  }

  &__content {
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color);

    &-link {
      --_font-size: inherit;
      --_font-weight: inherit;
      --_line-height: inherit;
      --_color: var(--primary-color);
      --_border: 0;
      --_border-radius: 0;

      --_color-active: var(--dark-color);
    }
  }
}
