<article class="card card--order">
	<div class="card__pictures">
		<picture>
			<source srcset="./img/card/card-1.webp" type="image/webp">
			<img loading="lazy" src="./img/card/card-1.png" class="card__pictures-image image" width="" height="" alt="">
		</picture>
	</div>
	<div class="card__info">
		<h3 class="card__title d-xl-webkit-box d-none">
			Корм для кошек Royal Canin Protein Exigent
		</h3>
		<div class="card__info-start">
			<h3 class="card__title d-xl-none">
				Корм для кошек Royal Canin Protein Exigent
			</h3>
			<span class="card__weight">
				Вес: 2 кг
			</span>
			<span class="card__price">
				2 393₽
				<span class="card__price-sale">
					3 499₽
				</span>
			</span>
		</div>
		<div class="card__info-end">
			<div class="card__status">
				Статус заказа:
				<span class="card__status-value">
					Отсортирован
				</span>
			</div>
			<div class="card__buttons d-xl-none">
				<button type="button" class="btn btn-sm btn-primary card__buttons-cart">
					подробнее
				</button>
			</div>
		</div>
		<div class="card__buttons d-xl-block d-none">
			<button type="button" class="btn btn-sm btn-primary card__buttons-cart">
				подробнее
			</button>
		</div>
	</div>
</article>