<article class="card card--friend">
	<div class="card__action">
		<div class="card__action-start">
			<span class="card__action-status card__action-status--free">
				Отдам даром
			</span>
		</div>
		
		<div class="card__action-end">
			<time class="card__action-time">
				10.03.2023
			</time>
		</div>
	</div>
	<div class="card__pictures">
		<a href="./card.html" class="card__link"></a>
		<picture>
			<source srcset="./img/card/.webp" type="image/webp">
			<img loading="lazy" src="./img/card/.png" class="card__pictures-image image" width="320" height="250" alt="">
		</picture>
	</div>
	<div class="card__info">
		<div class="card__info-start">
			<h3 class="card__title">
				<a href="./card.html" class="btn btn-inherit">
					Щенки шпица
				</a>
			</h3>
		</div>
		<div class="card__info-end">
			<span class="card__info-status">
				Бесплатно
			</span>
		</div>
	</div>
	<div class="card__buttons">
		<button type="button" class="btn card__buttons-cart">
			подробнее
		</button>
	</div>
</article>