<article class="card card--news">
	<a href="./article.html" class="card__link"></a>
	<div class="card__pictures">
		<picture>
			<source srcset="./img/card/news-1.webp" type="image/webp">
			<img loading="lazy" src="./img/card/news-1.png" class="card__pictures-image image" width="320" height="210" alt="Картинка">
		</picture>
	</div>
	<h3 class="card__title">
		Чипирование питомцев
	</h3>
	<p class="card__text">
		Новая услуга в нашем веткабинете! <br>
		Это современный способ индентификации питомца, проще говоря, электронный паспорт, который содержит всю важную
		информацию о животном и его владельце.
	</p>
	<time datetime="" class="card__time">
		14.03.2023
	</time>
</article>