<article class="card">
	<div class="card__action">
		<div class="card__action-start">
			<span class="card__action-status">
				до 12.06.24
			</span>
			<span class="card__action-sale">
				-30%
			</span>
		</div>
		
		<div class="card__action-end card__action-buttons">
			<button type="button" class="btn btn-compare">
				<span class="icon">
					<svg>
						<use xlink:href="img/icons/compare.svg#svg-compare"></use>
					</svg>
				</span>
			</button>

			<button type="button" class="btn btn-favorite">
				<span class="icon">
					<svg>
						<use xlink:href="img/icons/favorite.svg#svg-favorite"></use>
					</svg>
				</span>
			</button>
		</div>
	</div>
	<div class="card__pictures js-card-pictures">
		<picture>
			<source srcset="./img/card/card-1.webp" type="image/webp">
			<img loading="lazy" src="./img/card/card-1.png" class="card__pictures-image image" width="" height="" alt="">
		</picture>
		<picture>
			<source srcset="./img/card/card-1.webp" type="image/webp">
			<img loading="lazy" src="./img/card/card-1.png" class="card__pictures-image image" width="" height="" alt="">
		</picture>
		<picture>
			<source srcset="./img/card/card-1.webp" type="image/webp">
			<img loading="lazy" src="./img/card/card-1.png" class="card__pictures-image image" width="" height="" alt="">
		</picture>
	</div>
	<h3 class="card__title">
		Корм для кошек Royal Canin Protein Exigent
	</h3>
	<ul class="list-reset card__choice js-card-choices">
		<li class="card__choice-item">
			<label class="card__label">
				<input type="radio" class="card__label-input" required>
				<span class="card__label-text">
					400 гр
				</span>
			</label>
		</li>
		<li class="card__choice-item">
			<label class="card__label">
				<input type="radio" class="card__label-input" checked required>
				<span class="card__label-text">
					2 кг
				</span>
			</label>
		</li>
		<li class="card__choice-item">
			<label class="card__label">
				<input type="radio" class="card__label-input" required>
				<span class="card__label-text">
					4 кг
				</span>
			</label>
		</li>
	</ul>
	<div class="card__info">
		<div class="card__info-start">
			<span class="card__price">
				2 393₽
				<span class="card__price-sale">
					3 499₽
				</span>
			</span>
			<span class="card__sale">
				Скидка <span class="card__sale-value">1 106₽</span>
			</span>
		</div>
		<div class="card__info-end">
			<span class="card__cashback">
				кэшбэк 10.67₽
				<span class="icon card__cashback-icon">
					<svg>
						<use xlink:href="img/icons/cashback.svg#svg-cashback"></use>
					</svg>
				</span>
			</span>
		</div>
	</div>
	<div class="card__buttons">
		<button type="button" class="btn btn-primary card__buttons-cart">
			в корзину
		</button>
	</div>
</article>