html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 1rem;
  line-height: 1;
  color: var(--dark-color);
  background-color: var(--background-light, #fff);
  overflow-x: hidden;
}

.main {
  flex: 1;
}

.section-main {
  padding-block-start: var(--header-height, 160px);
}

.section-crossing {
  padding-block-start: 3.75rem;
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    width: 100%;
    height: 9.625rem;
    display: block;
    background-image: url(../img/background/svg/wave--main.svg);
    background-repeat: repeat-x;
    background-size: 93.75rem 9.625rem;
    background-position: center;
    position: absolute;
    top: -4.125rem;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.section-decoration {
  position: relative;
  z-index: 1;
}

.section {
  margin-block-end: 6.25rem;

  &-header {
    margin-block-end: 3.75rem;
  }

  &-title {
    margin-block-end: 0;
  }
}

.text-primary {
  color: var(--primary-color) !important;
}

.background-primary-25 {
  background-color: var(--background-primary-25) !important;
}

.background-primary-50 {
  background-color: var(--background-primary-50) !important;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

p {
  margin: 0;

  + p {
    margin-block-start: 1.5rem;
  }
}

.site-container {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}