:root {
  // base
  --content-width: 1200px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
  // fonts
  --font-family: "Heebo", sans-serif;
  --font-second: "Inter", sans-serif;
  --font-third: "MontserratAlternates", sans-serif;

  // colors
  --primary-color: #ef7f1a;
  --primary-color-dark: #c05e05;
  --primary-color--50: #ffdeb8;
  --dark-color: #1e1e1e;
  --light-color: #fff;
  --gray-color: #787878;

  //backgrounds
  --background-primary-25: #fdf1e6;
  --background-primary-50: #ffdeb8;
  --background-light: #ffffff;

  // border
  --border-width: 1px;
  --border-type: solid;
  --border-color: #C4C4C4;

  // radius
  --radius-sm: .5rem;
  --radius-md: .75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.25rem;
  --radius-xxl: 1.5rem;

  // transition
  --transition-duration: 300ms;
  --transition-type: ease-in-out;
}
